:root {
    --blueColor: #3958C6;
    --greenColor: #58C639;
    --yellowColor: #e6c56b;
    --blackColor: black;
    --shadow: .2rem .2rem rgba(128, 128, 128, 0.5);
    --box-shadow: .5rem .5rem rgba(128, 128, 128, 0.5);
    --fontTitle: Verdana, Geneva, Tahoma, sans-serif;
    --fontAlt: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    border-bottom: .5rem solid #e6c56b;
}

.close-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--yellowColor);
    font-style: bold;
    border-style: solid;
}

.close-button:hover {
    background-color: red;
    transition-duration: 1s;
}

h1 {
    color: white;
    font-family: var(--fontTitle);
    text-shadow: var(--shadow);
}

h2 {
    color: var(--yellowColor);
    font-family: var(--fontTitle);
    font-size: 250%;
    text-shadow: var(--shadow);
}

p1 {
    color: white;
    font-size: 200%;
}

.header-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--blueColor);
}

.questions {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0% 20%;
    min-height: 40rem;
}

#question-head {
    color: black;
    text-align: center;
    font-size: 200%;
    padding: 3%;
    margin: 0;
    text-shadow: none;
}

.answer-btns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 10%;
    padding-bottom: 5%;
}

.answer-btn {
    background-color: var(--blueColor);
    border-radius: 20px;
    margin: 5%;
    width: 20rem;
    height: 5rem;
    text-align: left;
}

.answer-btn p2 {
    color: white;
    margin: 5%;
    font-size: 150%;
}

.start-btn {
    font-size: 200%;
}

.head-btn {
    border: none;
    background-color: var(--blueColor);
    color: white;
    font-family: var(--fontTitle);
    font-size: 200%;
    text-shadow: 2px 2px grey;
}

.head-btn:hover {
    transition-duration: 1s;
    color: var(--yellowColor);
}

.save-score-form {
    background-color: var(--blueColor);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10rem;
    border: 1rem solid var(--yellowColor);
}

.save-score-form label {
    color: white;
    min-height: 2.5rem;
    font-size: 2.5rem;
    font-family: var(--fontTitle);
}

.save-score-form input {
    min-height: 2.5rem;
    font-size: 2rem;
}

.high-score-table {
    min-height: 100px;
    width: auto;
    background-color: var(--blueColor);
    border-style: solid;
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.high-score-table h2 {
    margin: 2% 0%;
    text-align: center;
    width: 100%;
}

.head-score-title {
    text-align: center;
    border-bottom: .2rem solid var(--yellowColor);
}

.bottom-section {
    background-color: var(--blueColor);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15%;
    font-family: var(--fontTitle);
    border-top: .5rem solid #e6c56b;
    border-bottom: .5rem solid #e6c56b;
}

.bottom-section p1 {
    padding: 1%;
}

#timer span {
    font-style: italic;
}